<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">OLYMPUS</h2>
                    <h3 class="section-subheading text-muted">.</h3>
                </div>
            </div>
            <div id="oly">
                <div class="icarus">
                <img src="https://media.contentapi.ea.com/content/dam/apex-legends/common/articles/olympus-map-updates/apex-legends-olympus-update-fleet.png.adapt.1456w.png" width="640" height="358" class="ic1"/>
                A rogue fleet of ships from outer space has breached the atmosphere of Psamathe. Its lead vessel, The Icarus, has docked with Olympus, bringing with it a viscous, parasitic plant of unknown origin. The resulting outbreak begins to take root along the surface of Olympus and the accompanying vessels can be seen from as far away as the Docks.
            </div>
                <div class="icarus2">
                    <img src="https://media.contentapi.ea.com/content/dam/apex-legends/common/articles/olympus-map-updates/apex-legends-olympus-update-inside-icarus.jpg.adapt.1456w.jpg" width="640" height="358" class="ic2"/>
                     Before the ship docked, Crossroads was a sniper's paradise with long lines of sight from Bonsai Hillside all the way across to Orbital Cannon. The Icarus blocks most sightlines, and while squads can still take advantage of the steep advantage from Bonsai, they’ll need to be wary when pushing into the vessel.
                </div>
            </div>


    </section>